body {
  font-family: 'Calibri', sans-serif;
  background: aliceblue;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}
h1{
  font-family: 'Showcard Gothic', cursive;
  font-size: 60px;
  text-align: center;
  #text-decoration: underline;
  color: #254d76;
}
input[type="range"] {
  width:450px;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}